<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
	<property name="LOG_HOME" value="/Users/pandayeung/git/log" />

	<!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->  
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">  
		<encoder>
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} – %X{sessionId}: %msg%n</pattern>
		</encoder>
	</appender>

	<!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 --> 
	<appender name="file"  class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<File>${LOG_HOME}/springboot.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<FileNamePattern>/${LOG_HOME}/springboot-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
				<MaxHistory>15</MaxHistory>
				<TimeBasedFileNamingAndTriggeringPolicy   class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
					<MaxFileSize>500MB</MaxFileSize>
				</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		
		<layout class="ch.qos.logback.classic.PatternLayout">  
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36}  – %X{sessionId}: %msg%n</pattern>
		</layout>
	</appender>

	<logger name="com.shenma.mapper" level="DEBUG" />
	<logger name="java.sql.Connection" level="DEBUG" />
	<logger name="java.sql.Statement" level="DEBUG" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" />

	<!-- 日志级别 -->
	<root>
 	<!-- 定义了ERROR和INFO级别的日志，分别在FILE文件和控制台输出 --> 
        <level value="error" />  
        <level value="info" />  
<!--         <level value="trace" />   -->
        <appender-ref ref="file" />   
        <appender-ref ref="console" />
	</root>


</configuration>